<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="edwardTseng">
<!--         // <script src="{{url_for('static', filename='lib/bower_components/jquery/dist/jquery.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/jqueryui/jquery-ui.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/angular/angular.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/angular-route/angular-route.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/angular-resource/angular-resource.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/angular-animate/angular-animate.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/angular-mocks/angular-mocks.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/handlebars/handlebars.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/d3/d3.min.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/topojson/topojson.js') }}"></script>
        // <script src="{{url_for('static', filename='lib/bower_components/d3-tip/index.js') }}"></script>
        // <script src="{{url_for('static', filename='js/datamaps.all.js') }}"></script> -->

        {% assets "televy_app" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "controllers" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "directives" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "services" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}
        {% assets "configs" %}
          <script src="{{ ASSET_URL }}"></script>
        {% endassets %}

        <!-- <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='lib/bower_components/jqueryui/themes/smoothness/jquery-ui.min.css') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/CV.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/stats.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/c_list.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/c_detail.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/animation.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/navbar.css') }}"></link>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='televy/css/test.css') }}"></link> -->
    </head>

    <body class="backdrop">

        {% block body %}
        {% endblock body %}

    </body>

</html>
